* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  flex: 1;
  justify-content: space-between;
}

.header {
  width: 100vw;
  position: absolute;
  top: 6rem;
}

.menu {
  width: 44.3rem;
  display: flex;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo__title {
  color: #F1CDB3;
  font-family: Georgia;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 0.192rem;
  line-height: 110%;
  
}

.logo__subtitle {
  margin-top: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.3rem;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.13rem;
  font-weight: 400;
}

.menu {
  display: flex;
}


.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  
}


.list__item {
  display: flex;
  align-items: center;
}

.list__link {
  color: #ffffff;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
  
}

.list__link_active {
  border-bottom: solid 0.3rem #F1CDB3;
}

.list__link_disabled {
  color: #cdcdcd;
}


.main {
  display: flex;
  flex-direction: column;
  }

.hero {
  display: flex;
  padding-top: 180px;
  background: url(/trepachkodm-JS2020Q3/shelter/assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

}

.hero__content {
  display: flex;
}

.content__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 84px;
}

.content__section__title {
  min-width: 19.375rem;
  color: #ffffff;
  font-family: Georgia;
  font-size: 2.75rem;
  line-height: 130%;
  font-weight: 400;
 
}

.content__section__subtitle {
  color: #cdcdcd;
  margin-top: 2.625rem;
  font-family: Arial;
  line-height: 160%;
}

.content-section__button {
  padding: 1.5rem 4.5rem;
  width: 21rem;
  margin-top: 4rem;
  font-size: 1.7rem;
  background-color: #F1CDB3;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  border: 2px solid #FDDCC4;
  cursor: pointer;
  outline: none;
  transition-duration: 0.5s;
  
}

.content-section__button:hover {
  background-color: #FDDCC4;
}

.hero__image-wrapper {
  display: flex;

}

.hero__image {
  width: 100%;
  max-width: 69.8rem;
  max-height: 72.8rem;
}


.about {
  display: flex;
 
}

.wrapper-about {
  justify-content: center;
}

.about__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 8rem 17.5rem 10rem 17.5rem;
}


.about__image-wrapper {
  display: flex;
}

.about__image {
  width: 100%;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 43rem;
}

.about__title {
  
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
}

.about__title span {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

.about__description {
  margin-top: 2.5rem;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;;
}

.about__description:nth-child(2) {
  margin-top: 2.5rem;
}

.pets {
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.pets__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pets__title{
  text-align: center;
  max-width: 40rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  size: 3.5rem;
  color: #545454;
  display: block;
 
  
}

.pets__content {
  display: flex;
  align-items: center;
  
}

.pets-cards {
  display: flex;
  padding: 6rem 0.8rem;

}

.pets-card__item {
  display: flex;
  flex-direction: column;
  border-radius: 0.9rem;
  margin: 0 4.5rem;

}

.pets-card__item:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-card__image {
  width: 100%;
}

.pets-card__content {
  display: flex;
  flex-direction: column;
   padding-bottom: 3rem;
   align-items: center;
}

.pets-card__title {
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0;
  margin: 3 0rem;
 
}
.pets-card__button {
  padding: 1.5rem 4.5rem;
  margin-top: 4rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #F1CDB3;
  border: none;
  transition-duration: 0.5s;
}

.pets-card__button:hover {
  box-shadow: none;
  background-color:#FDDCC4;
}

.pets__button {
  padding: 1.5rem 4.5rem;
  margin-top: 4rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #F1CDB3;
  border: none;
  transition-duration: 0.5s;
}

.pets__button:hover {
  box-shadow: none;
  background-color:#FDDCC4;
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  box-shadow: inset 0 0 0 0.3rem #F1CDB3;  
  border-radius: 100%;
  padding: 1.91rem;
  transition-duration: 0.5s;
  cursor: pointer;  
  background: none;
  border: none;
  outline: none;
}

.slider-button:hover {
  box-shadow: none;
  background-color: #FDDCC4;
}

.slider-button_reverted {
  border: 3px solid #F1CDB3;
  border-radius: 100%;
  padding: 1.9rem;
  background: none;
  transform: rotate(180deg);
}

@media screen and (max-width: 1280px){
  .wrapper {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 1100px) {
  .hero__content {
    flex-direction: column;
  }

  .hero__content {
    align-items: center;
  }
}

/*# sourceMappingURL=main.css.map */